@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.board {
  &__menu {
    display: flex;
    justify-content: center;
    height: $boardMenuHeight;
    width: 100vw;
    max-width: 1130px;
  }
}

.menu {
  border: none;

  &__bground {
    &_white {
      background-color: #ffffff;
    }

    &_blue {
      cursor: pointer;
      background-color: $blueColor;
    }
  }

  &__decor {
    display: block;
    height: $boardMenuHeight;
    width: 70px;

    @include onTablet {
      display: none;
    }

    &_left {
      border-top-left-radius: 80%;
    }

    &_center {
      position: relative;
    }

    &_right {
      transition: border-top-right-radius 300ms;
      border-top-right-radius: 80%;
    }

    &_cross {
      position: absolute;
    }

    &_show {
      display: block;
    }

    &_hide {
      display: none;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    height: $boardMenuHeight;
    width: 50vw;
    max-width: 480px;
    padding: 0 30px 0 40px;

    &_dep {
      justify-content: end;
    }

    &_arr {
      justify-content: start;

      &:hover {
        @include onTablet {
          opacity: 0.7;
        }
      }

      &:hover + div {
        border-top-right-radius: 50%;
        transition: border-top-right-radius 300ms;
      }
    }
  }

  &__icon {
    display: block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-position: center;
    background-size: 55px;
    background-repeat: no-repeat;
    margin-right: 15px;

    @include onTablet {
      display: none;
    }

    &_dep {
      transform: rotate(-35deg);
    }

    &_arr {
      transform: rotate(35deg);
    }

    &_white {
      background-image: url("./white_plane.png");
    }

    &_blue {
      background-image: url("./blue_plane.png");
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;

    @include onTablet {
      font-size: 14px;
    }

    &_white {
      color: #ffffff;
    }

    &_blue {
      color: $blueColor;
    }
  }
}
