@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.board {
  &__menu {
    display: flex;
    justify-content: center;
    height: $boardMenuHeight;
    width: 100vw;
    max-width: $maxWidth;
  }
}

.menu {
  border: none;

  &__bground {
    &_white {
      background-color: #ffffff;
    }

    &_blue {
      background-color: $blueColor;
    }
  }

  &__decor {
    display: block;
    height: $boardMenuHeight;
    width: 70px;

    @include onTablet {
      display: none;
    }

    &_left {
      transition: border-top-left-radius 300ms;
      border-top-left-radius: 80%;
    }

    &_center {
      position: relative;
    }

    &_right {
      transition: border-top-right-radius 300ms;
      border-top-right-radius: 80%;
    }

    &_cross {
      position: absolute;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    height: $boardMenuHeight;
    width: 50vw;
    max-width: 480px;
    padding: 0 30px 0 40px;
  }

  &__icon {
    display: block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-position: center;
    background-size: 55px;
    background-repeat: no-repeat;
    margin-right: 15px;

    @include onTablet {
      display: none;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;

    @include onTablet {
      font-size: 14px;
    }

    &_white {
      color: #ffffff;
    }

    &_blue {
      color: $blueColor;
    }
  }
}
