.board__flights {
  width: 100vw;
  max-width: 1120px;
  background-color: #ffffff;
  padding-top: 30px;
}

.rc-table-thead > tr > th {
  font-size: 16px;
  font-weight: 400;
  color: #95989a;
  border: none;
  padding-bottom: 10px;
}
