@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.board {
  &__date {
    height: 100px;
    width: 100vw;
    max-width: $maxWidth;
    background-color: #ffffff;
    padding-top: 27px;
  }
}

.date {
  &__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__input {
    position: absolute;
    visibility: hidden;
  }

  &__setter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;

    &_calendar {
      width: 80px;
      margin-right: 10px;

      @include onTablet {
        margin-right: 0;
      }
    }

    &_btn {
      width: 100px;
      border-bottom: 3px solid #d0d0d0;
      cursor: pointer;

      &:hover {
        border-bottom-color: $blueColor;
      }

      &:hover > div {
        color: $blueColor;
        font-weight: 700;
      }

      &:hover > div + div > span {
        color: $blueColor;
      }
    }
  }

  &__output {
    font-size: 12px;
    line-height: 12px;

    &_calendar {
      font-weight: 700;
      color: $blueColor;
    }

    &_btn {
      width: 100%;
      height: 18px;
      text-align: center;
      color: #b8b9b9;
    }
  }

  &__btn {
    cursor: pointer;

    &_img {
      display: block;
      height: 40px;
      width: 40px;
      background-image: url("./date.png");
      background-position: center;
      background-size: 40px;
      background-repeat: no-repeat;
      transition: border-radius 300ms;
      border-radius: 0;

      &:hover {
        border-radius: 25%;
        transition: border-radius 300ms;
      }
    }

    &_txt {
      font-size: 16px;
      line-height: 28px;
      font-weight: 700;
      text-transform: uppercase;
      color: #b8b9b9;

      @include onTablet {
        font-size: 12px;
      }
    }
  }
}
