@import "../../utils/variables.scss";

.board {
  &__date {
    height: 100px;
    width: 100vw;
    max-width: $maxWidth;
    background-color: #ffffff;
    padding-top: 27px;
  }
}

.date {
  &__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__setter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;
  }

  &__output {
    font-size: 12px;
    line-height: 12px;
  }

  &__btn {
    cursor: pointer;
  }
}
