@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 40px 0 24px -18px;

    @include onTablet {
      width: 100vw;
      min-width: $minWidth;
      font-size: 35px;
      margin-left: 5px;
      text-align: center;
    }
  }

  &__form {
    display: flex;
    margin-left: -18px;

    @include onTablet {
      flex-direction: column;
      width: 100vw;
      min-width: $minWidth;
      margin-left: 5px;
    }
  }  
  
  &__icon {
    height: 80px;
    width: 70px;
    background-color: #ffffff;
    background-image: url("./search_glass.png");
    background-position: center;
    background-size: 48px;
    background-repeat: no-repeat;

    @include onTablet {
      width: 0;
      height: 0;
    }
  }

  &__input {
    width: 473px;
    height: 80px;
    border: none;
    font-size: 22px;
    color: #000000;
    margin-left: -3px;

    @include onTablet {
      min-width: $minWidth;
      width: 100vw;
      height: 60px;
    }
       
    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 25px;
      font-weight: 400;
      letter-spacing: -0.015em;
      color: #9b989a;

      @include onTablet {
        font-size: 22px;
      }
    }
  }

  &__btn {
    width: 125px;
    border: none;
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
    background-color: $blueColor;
    transition: border-top-right-radius 300ms;

    @include onTablet {
      width: 100vw;
      min-width: 50px;
      font-size: 22px;
      height: 60px;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover + div {
      border-top-right-radius: 50%;
      transition: border-top-right-radius 300ms;
    }

    &_decoration {
      width: 75px;
      border-top-right-radius: 100%;

      @include onTablet {
        width: 0;
        height: 0;
      }

      &:hover {
        border-top-right-radius: 50%;
        transition: border-top-right-radius 300ms;
        cursor: pointer;
      }
    }
  }
}