@import './utils/variables.scss';
@import './utils/mixins.scss';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 92px;
  width: 100vw;
  min-width: $minWidth;
  background-color: $blueColor;
  box-shadow: 0 5px 10px rgb(37 40 41 / 30%);

  @include onTablet {
    height: 60px;
  }

  &__logo {
    height: 110px;
    width: 180px;
    background-image: url(./airport_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -9px;
    margin-left: 120px;
    cursor: pointer;

    @include onTablet {
      margin-left: 5px;
      width: 100px;
      height: 80px;
      min-width: 50px;
    }
  }
}
